# redirect to HTTPS
RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# notablog.php is powered by gistlog.co
RewriteRule ^(css|img|js|auth)(/.*)?$ https://gistlog.co/$1$2 [R]
RewriteRule ^2018/hello-world$ notablog.php?gist=https://gist.github.com/clue/8698d44e489927f9988b2a27e53d9189

# reject direct access with 403 (Forbidden)
RewriteCond "%{THE_REQUEST}" "^[A-Z]+ /notablog.php(\?|/| )"
RewriteRule ^ - [F]
