/* global layout */
body, html {
    margin: 0;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #64737d;
    font-size: 20px;
    line-height: 1.5;
}
a {
    color: #4C9ED9;
}
h1,h2,h3,h4,strong {
    font-weight: normal;
    line-height: 1.25;
    color: #29586a;
}

/* show empty link anchors with "#" only when hovering parent heading */
a:empty {
    display: none;
    float: left;
    margin-left: -1em;
    width: 1em;
}
a:empty::before {
    content: "#";
}
:hover > a:empty {
    display: block;
}

svg {
    height: 0.8em;
}

/* default section layout */
section {
    width: 100%;
    overflow: auto;
}
section .container {
    width: 600px;
    margin: 50px auto;
}

section#main {
    min-height: 550px;
    min-height: 100vh;
    padding: 0;
    width: 100%;

    background: #0b3e51 no-repeat center center;
    background-image: linear-gradient(to right, #10394b 0%, #113a4e 50%, #0c273b 75%, #060d1b 100%);
    background-image: url(bg.jpg);
    background-size: cover;
    background-attachment: fixed;

    color: #f8f8f8;
    text-align: center;
}
section#main h1 {
    font-size: 64px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    margin: 200px 0 0 0;
    margin: 40vh 0 0 0;
    color: inherit;

    display: inline-block;
    border-bottom: 2px solid #40647b80;

    /* position text on top of following img */
    position: relative;
    z-index: 1;
}
section#main div {
    height: 0;
}
section#main img {
    /* round image with proportional size of 200px max */
    border-radius: 50%;
    max-width: 200px;
    width: 200px;
    width: 36.5vw;

    margin-top: -100%;
    margin-bottom: 30px;

    filter: grayscale(20%);
    box-shadow: 0 0 75px -10px rgb(0, 9, 27);
}
section#main h2 {
    font-size: 20px;
    margin: 10px 0 0 0;
    color: inherit;
}
section#main a {
    display: inline-block;
    background-color: #ccd1d6;
    background-color: #f8f8f8d0;
    padding: .7em 1em;
    border-radius: 0.4em;

    margin: 20px 0 160px 8px; /* bottom compensates following #about */

    color: #164257;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8em;
}
section#main a:hover {
    background-color: #f7f7f7;
}
section#main svg {
    fill: #164257;
}

section#about {
    margin: -130px auto 50px auto; /* negative top margin to show on top of previous #main */
    max-width: 800px;

    background-color: #061324;
    background: linear-gradient(to bottom, #0006 0%, #061324 130px); /* subtle transparent gradient over #main */
    box-shadow: 0 0 75px -10px rgb(0, 9, 27);
    border-radius: 4px;
    border-top: 4px solid #142F49;
}
section#about .container{
    margin: 20px 25px;
    width: auto;
}
section#about h3{
    color: #648797;
}
section#about p{
    color: #97a0ac;
}
section#about a{
    color: #6296ae;
}

section#posts svg {
    fill: #4C9ED9;
}
section#posts ul {
    list-style: none;
    padding: 0;
}
section#posts li {
    margin-bottom: 1em;
}
section#posts time {
    font-size: small;
    display: block;
}

section#projects {
    background-color: #f8f8f8;
}

section#contact address {
    font-style: normal;
}
section#contact svg {
    fill: #4C9ED9;
}

/* section container fills complete width minus margin on small devices */
@media (max-width: 720px) {
    section .container {
        width: auto;
        max-width: 600px;
        margin: 50px 50px;
    }
}

/* fill #main section to screen width */
@media (max-width: 540px) {
    section#main h1 {
        font-size: 42px;
        font-size: 12vw;
    }
    section#main h2 {
        font-size: 13px;
        font-size: 3.7vw;
    }
    section#main a{
        font-size: 2.9vw;
    }
}

/* remove #about rounded corners when box size equals screen width */
@media (max-width: 800px) {
    section#about{
        border-radius: 0;
    }
}
