/* global layout */
body, html {
    margin: 0;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #64737d;
    font-size: 20px;
    line-height: 1.5;
}
a {
    color: #4C9ED9;
}
a:not([href]) {
    text-decoration: line-through underline;
}
h1,h2,h3,h4 {
    font-weight: normal;
    line-height: 1.25;
    color: #29586a;
}
h2 {
    border-bottom: 1px solid aliceblue;
}
#home h2 {
    border: 0;
}

/* show empty link anchors with "#" only when hovering parent heading */
a:empty {
    display: none;
    float: left;
    margin-left: -1em;
    width: 1em;
}
a:empty::before {
    content: "#";
}
:hover > a:empty {
    display: block;
}

svg {
    height: 0.8em;
}

nav {
    height: auto;
    background: #0b3e51 no-repeat center center;
    background-image: linear-gradient(to right, #091f29 0%, #113a4e 50%, #0c273b 75%, #060d1b 100%)
}
#home nav {
    height: 0;
    position: relative;
    z-index: 2;
}
nav ul {
    margin: 0 auto;
    max-width: 700px;
    padding: 10px;
    text-align: right;
}
nav li {
    display: inline-block;
}
nav li a {
    font-size: .9em;
    text-decoration: none;
    color: #b5c6d5;
    padding: 4px 4px;
}
nav li a:hover {
    color: #5899C8;
}
nav li:first-child {
    float: left;
}
nav li:first-child a {
    color: #fff;
    margin-left: -3px;
}
#home nav li:first-child {
    display: none;
}
nav li:last-child a {
    border-bottom: 4px solid #3072A2;
    padding-bottom: 0px;
}

/* default section layout */
section {
    width: 100%;
    overflow: auto;
}
section .container {
    max-width: 700px;
    margin: 50px auto;
}

section#main {
    min-height: 550px;
    min-height: 100vh;
    padding: 0;
    width: 100%;

    background: #0b3e51 no-repeat center center;
    background-image: linear-gradient(to right, #10394b 0%, #113a4e 50%, #0c273b 75%, #060d1b 100%);
    background-image: url(bg.jpg);
    background-size: cover;
    background-attachment: fixed;

    color: #f8f8f8;
    text-align: center;
}
section#main h1 {
    font-size: 64px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    margin: 200px 0 0 0;
    margin: 40vh 0 0 0;
    color: inherit;

    display: inline-block;
    border-bottom: 2px solid #40647b80;

    /* position text on top of following img */
    position: relative;
    z-index: 1;
}
section#main div {
    height: 0;
}
section#main img {
    /* round image with proportional size of 200px max */
    border-radius: 50%;
    max-width: 200px;
    width: 200px;
    width: 36.5vw;

    margin-top: -100%;
    margin-bottom: 30px;

    filter: grayscale(20%);
    box-shadow: 0 0 75px -10px rgb(0, 9, 27);
}
section#main h2 {
    font-size: 20px;
    margin: 10px 0 0 0;
    color: inherit;
}
section#main a {
    display: inline-block;
    background-color: #ccd1d6;
    background-color: #f8f8f8d0;
    padding: .7em 1em;
    border-radius: 0.4em;

    margin: 20px 0 160px 8px; /* bottom compensates following #about */

    color: #164257;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8em;
}
section#main a:hover {
    background-color: #f7f7f7;
}
section#main svg {
    fill: #164257;
}

section#about {
    margin: -130px auto 50px auto; /* negative top margin to show on top of previous #main */
    max-width: 800px;

    background-color: #061324;
    background: linear-gradient(to bottom, #0006 0%, #061324 130px); /* subtle transparent gradient over #main */
    box-shadow: 0 0 75px -10px rgb(0, 9, 27);
    border-radius: 4px;
    border-top: 4px solid #142F49;
}
section#about .container{
    margin: 20px 25px;
    max-width: none;
}
section#about h3{
    color: #648797;
}
section#about p{
    color: #9aa9b5;
}
section#about a{
    color: #6296ae;
}

section#posts svg {
    fill: #4C9ED9;
}
section#posts article {
    margin-bottom: 1.5em;
}
section#posts article > h4 {
    margin-bottom: 0;
}
section#posts article > ul {
    margin: 0;
    padding: 0;
}
section#posts article > ul > li {
    display: inline;
    margin-right: 4px;
}
section#posts article > h4 + * {
    font-size: small;
    display: block;
}
section#posts article > p {
    margin: 0;
}
section#posts article > p + ul > li {
    font-size: .9em;
    white-space: nowrap;
}
section#posts article > p + ul > li:before {
    /* scale from 24px to 16px */
    transform: scale(.66);
    display: inline-block;
    vertical-align: middle;
    margin-right: 2px;

    /* filter black to current text color #64737d: thank you! https://stackoverflow.com/a/43960991 */
    filter: invert(42%) sepia(26%) saturate(257%) hue-rotate(161deg) brightness(97%) contrast(83%);
    color: #000;

    content: "i";
    /* thank you! https://iconmonstr.com/info-6-svg/ */
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-.001 5.75c.69 0 1.251.56 1.251 1.25s-.561 1.25-1.251 1.25-1.249-.56-1.249-1.25.559-1.25 1.249-1.25zm2.001 12.25h-4v-1c.484-.179 1-.201 1-.735v-4.467c0-.534-.516-.618-1-.797v-1h3v6.265c0 .535.517.558 1 .735v.999z"/></svg>');
}
section#posts article > p + ul > li.slides:before {
    /* thank you! https://iconmonstr.com/eye-3-svg/ */
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M15 12c0 1.657-1.343 3-3 3s-3-1.343-3-3c0-.199.02-.393.057-.581 1.474.541 2.927-.882 2.405-2.371.174-.03.354-.048.538-.048 1.657 0 3 1.344 3 3zm-2.985-7c-7.569 0-12.015 6.551-12.015 6.551s4.835 7.449 12.015 7.449c7.733 0 11.985-7.449 11.985-7.449s-4.291-6.551-11.985-6.551zm-.015 12c-2.761 0-5-2.238-5-5 0-2.761 2.239-5 5-5 2.762 0 5 2.239 5 5 0 2.762-2.238 5-5 5z"/></svg>');
}
section#posts article > p + ul > li.recording:before {
    /* thank you! https://iconmonstr.com/youtube-6-svg/ */
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19.615 3.184c-3.604-.246-11.631-.245-15.23 0-3.897.266-4.356 2.62-4.385 8.816.029 6.185.484 8.549 4.385 8.816 3.6.245 11.626.246 15.23 0 3.897-.266 4.356-2.62 4.385-8.816-.029-6.185-.484-8.549-4.385-8.816zm-10.615 12.816v-8l8 3.993-8 4.007z"/></svg>');
}
section#posts article > p + ul > li.rating:before {
    /* unicode star glyph, slightly bigger */
    content: "★";
    font-size: 24px;
    transform: none;
    vertical-align: bottom;
}
section#posts article > p + ul > li.location:before {
    /* thank you! https://iconmonstr.com/location-1-svg/ */
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602zm0 11c-1.657 0-3-1.343-3-3s1.343-3 3-3 3 1.343 3 3-1.343 3-3 3z"/></svg>');
}

section#post h1 {
    margin-left: -10px;
    margin-right: -10px;
    font-size: 2em;
    text-align: center;
    letter-spacing: 2px;
}
section#post h1 ~ div {
    color: #9aa9b5;
    font-size: .8em;
    margin-bottom: 3em;
    text-align: center;
}
section#post h1 ~ div address {
    display: inline;
}
section#post h1 ~ div img {
    border-radius: 100%;
    width: 2em;
    vertical-align: middle;
    margin-right: 4px;
}
section#post pre {
    background-color: #fafafa;
    padding: 1em;
    border-left: 8px solid #f1f1f1;
    overflow: auto;
    margin-left: -20px;
    margin-right: -20px;
}
section#post p > code {
    background-color: #f1f1f1;
    padding: 0 4px;
    font-family: monospace;
}
section#post p > kbd {
    background-color: #fafafa;
    padding: 0 6px;
    border-radius: 3px;
    border: 1px solid #f1f1f1;
    border-bottom: 3px solid #e3e3e3;
    font-family: monospace;
}
section#post blockquote {
    margin: 0;
    padding: 0 1em;
    border-left: 5px solid #f1f1f1;
}
section#post blockquote.twitter-tweet {
    border: 1px solid #9aa9b5;
    border-radius: 4px;
    padding: 1em 2em 2em;
}
section#post img {
    max-width: 100%;
}

section#projects, section#invite, section#comments, section#share {
    background-color: #f8f8f8;
}

section#contact address {
    font-style: normal;
}
section#contact svg, section#share svg {
    fill: #4C9ED9;
}
section#contact input, section#contact textarea, section#contact span {
    display: block;
    width: 100%;
    box-sizing: border-box;

    font-size: inherit;
    font-family: inherit;
    padding: 8px 12px;
    border: 0;
    background-color: #fff;
    color: #444;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06);
    margin-bottom: 1em;

    -webkit-appearance: none;
    border-radius: 0;
}
section#contact input:focus, section#contact textarea:focus {
    box-shadow: 0 0 0 3px rgba(66,153,225,.5);
}
section#contact input::placeholder, section#contact textarea::placeholder {
    color: #aaa;
}
section#contact label:nth-child(3) { /* spammenot */
    display: none;
}
section#contact textarea {
    min-height: 8em;
    max-height: 20em;
    resize: vertical;
}
section#contact button {
    background-color: #4c9ed9;
    color: #fff;
    border: 0;
    padding: 4px 10px;
    border-radius: 4px;
    font-size: inherit;
}

section#thanks {
    display: none;
}
section#thanks:target {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;

    background-color: #0008;
}
section#thanks div.container {
    margin-top: 200px;
    margin-top: 20vh;

    padding: 50px;
    background-color: #fff;
}
section#thanks div.container h2 {
    margin-top: 0;
}

/* section container fills complete width minus margin on small devices */
@media (max-width: 760px) {
    section#main {
        background-attachment: scroll; /* iOS doesn't like fixed attachment, scroll is *good enough*… */
    }
    section .container {
        margin: 50px 20px;
    }
}

/* fill #main section to screen width */
@media (max-width: 540px) {
    section#main h1 {
        font-size: 42px;
        font-size: 12vw;
    }
    section#main h2 {
        font-size: 13px;
        font-size: 3.7vw;
    }
    section#main a{
        font-size: 2.9vw;
    }
}

/* remove #about rounded corners when box size equals screen width */
@media (max-width: 800px) {
    section#about{
        border-radius: 0;
    }
}
