{% set base = page.url matches "#/.*/#" ? "../" : "" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link href="{{base}}src/landing-page.css" rel="stylesheet">
{# always include javascript except for index and blog posts #}
{% if page.url != "/." and not (page.url matches "#/.*/#") %}
    <script async src="{{base}}src/app.js"></script>
{% endif %}
    <link rel="alternate" type="application/atom+xml" href="{{base}}posts.atom" title="Recent blog posts" />
{% block head '' %}
</head>

<body{{ page.url == "/." ? ' id="home"' : '' }}>
    <nav>
        <ul>
            <li{{ page.url == "/." ? ' class="active"' : '' }}><a href="{{ base ?: "./" }}"><strong>clue</strong>·engineering</a></li>
            <li{{ page.url == "/blog.html" or page.url matches "#/.*/#" ? ' class="active"' : '' }}><a href="{{ base }}blog">Blog</a></li>
            <li{{ page.url == "/talks.html" ? ' class="active"' : '' }}><a href="{{ base }}talks">Talks</a></li>
            <li{{ page.url == "/support.html" ? ' class="active"' : '' }}><a href="{{ base }}support">Support</a></li>
        </ul>
    </nav>

{% if page.blocks.postcontent %}
{% block postcontent '' %}
{% else %}
{% block content '' %}

{% endif %}

    <section id="footer">
        <div class="container">
            <ul>
                <li><strong>clue</strong>·engineering</li>
                <li><a href="{{ base ?: "./" }}">Home</a></li>
                <li><a href="{{ base }}blog">Blog</a></li>
                <li><a href="{{ base }}talks">Talks</a></li>
            </ul>
            <ul>
                <li><a href="{{ base }}support"><strong>Support</strong></a></li>
                <li><a href="{{ base }}support#consulting">Consulting &amp; Coaching</a></li>
                <li><a href="{{ base }}support#sponsor">Sponsoring</a></li>
                <li><a href="{{ base }}support#open-source">Open-Source</a></li>
            </ul>
            <ul>
                <li><a href="{{ base }}contact"><strong>Contact</strong></a></li>
                <li><a href="{{ base }}contact#imprint">Imprint</a></li>
                <li><a href="{{ base }}privacy">Privacy policy</a></li>
                <li>
                    <a href="https://twitter.com/another_clue" title="@another_clue on Twitter">Twitter</a>
                    <a href="https://github.com/clue" title="@clue on GitHub">GitHub></a>
                </li>
            </ul>
        </div>
    </section>

    <script async type="text/javascript" src="https://userlike-cdn-widgets.s3-eu-west-1.amazonaws.com/eb0f44ef8dbe480ab49d3a956f88be6034cf2d42e0114c31a532dc47ad6a9da7.js"></script>
</body>
</html>
