<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link href="src/landing-page.css" rel="stylesheet">
    <script async src="src/app.js"></script>
    <link rel="alternate" type="application/atom+xml" href="posts.atom" title="Recent blog posts" />
</head>

<body>
    <nav>
        <ul>
            <li><a href="./"><strong>clue</strong>·engineering</a></li>
            <li{{ page.url == "/blog.html" ? ' class="active"' : '' }}><a href="blog">Blog</a></li>
            <li{{ page.url == "/talks.html" ? ' class="active"' : '' }}><a href="talks">Talks</a></li>
            <li{{ page.url == "/support.html" ? ' class="active"' : '' }}><a href="support">Support</a></li>
            <li{{ page.url == "/contact.html" ? ' class="active"' : '' }}><a href="contact">Contact</a></li>
        </ul>
    </nav>

{% block content '' %}

    <script async type="text/javascript" src="https://userlike-cdn-widgets.s3-eu-west-1.amazonaws.com/eb0f44ef8dbe480ab49d3a956f88be6034cf2d42e0114c31a532dc47ad6a9da7.js"></script>
</body>
</html>
