<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link href="src/landing-page.css" rel="stylesheet">
    <link rel="alternate" type="application/atom+xml" href="posts.atom" title="Recent blog posts" />
</head>

<body>
    <nav>
        <ul>
            <li><a href="./"><strong>clue</strong>·engineering</a></li>
            <li><a href="blog">Blog</a></li>
            <li><a href="talks">Talks</a></li>
            <li><a href="contact">Contact</a></li>
        </ul>
    </nav>

{% block content '' %}

</body>
</html>
